# Deny access to folder/files starting with .git (.git, .gitignore)
RedirectMatch 403 /\.git

# Deny access to .htaccess file
RedirectMatch 403 /\.htaccess

# Disable hotlinking from other websites
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?theneurotech.eu [NC]
RewriteRule \.(jpg|jpeg|png|css|js|csv|html)$ - [F]

# No need for .php at end of URL (e.g. theneurotech.eu/mission)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
