# Deny access to folder/files starting with .git (.git, .gitignore)
RedirectMatch 403 /\.git

# Deny access to .htaccess file
RedirectMatch 403 /\.htaccess

# Deal with / at end of URL
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# No need for .php at end of URL (e.g. theneurotech.eu/mission)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
